body {
  margin: 0;
  background-color: #f9f9f7;
  font-family: Verdana, sans-serif;
}

header {
  background-color: #f04c6e;
  color: #fff9db;
  font-size: 1.6rem;
  text-align: center;
  letter-spacing: .2rem;
  vertical-align: middle;
  padding: 30px;
  margin-bottom: 2em;
}

.container {
  /* background-color: white; */
  margin: auto;
  /* margin-top: 50px; */
  max-width: 960px;
  /* width: 100%; */
  padding-left: 1rem;
  padding-right: 1rem;
  box-sizing: border-box;
}

.controls {
  margin-bottom: 20px;
}

input {
  width: 60%;
}

button {
  width: 10%;
}

/* .results {} */
table {
  border-collapse: collapse;
  border-spacing: 0px;
}

table, th, td {
  width: 100%;
  padding: 5px;
  border: 1px solid black;
}

footer {
  background-color: #54575d;
  color: white;
  text-align: center;
  font-size: 0.9rem;
  padding: 30px;
  position: absolute;
  width: 100%;
  bottom: 0;
}